* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto';
}
header {
    display: flex;
    justify-content: center;  
    width: 100%;
    justify-content: center;
    align-items: center;
}
.hamburger-menu {
    display: none;
}
header p {
    position: absolute;
    top: 30px;
    right: 120px;
    color: rgba(0,0,0,.38);
    font-size: 26px;
}
.logo {
    width: 370px;
    position: absolute;
    top: 25px;
    left: 40px;
}
.menu {
    display: flex;
    list-style: none;
    padding: 40px 0px;
    margin-left: 100px;
    position: relative;
    font-weight: 300;
}
.menu li {
    padding: 0px 60px;
    color: #514646;
    font-size: 36px;
    text-transform: uppercase;
}
.menu li a {
    color: rgb(0, 0, 0);
    color: #0a1a5a;
}
a {
    text-decoration: none;
    color: #000;
}/*
.fa-mobile {
    color: #000;
    font-size: 30px;
}
.fa-envelope-o {
    color: #000;
    font-size: 30px;
}
.drop-phone {
    display: none;
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.drop-phone-content {
    margin:300px auto;
    width:200px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.drop-phone-content i {
    font-size: 30px;
    padding-left: 30px;
}
.networks {
    list-style: none;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
}
.networks li:nth-child(1) {
    font-size: 40px;
}
.networks li:nth-child(2) {
    font-size: 38px;
}
.networks li {
    padding: 0px 10px;
}*/
@media(max-width:1260px) {
    .menu li a {
        font-size: 22px;
    }
    .menu li {
        padding: 0px 30px;
    }
}
@media(max-width:1140px) {
    .menu {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 100px;
    }
}
@media(max-width:1024px) {
    .menu {
        padding-left: 150px;
    }
    .menu li a {
        font-size: 20px;
    }
}
@media(max-width:898px) {
    .menu li {
        padding: 0px 20px;
    }
    .menu {
        margin-left: 0px;
    }
}
@media(max-width:826px) {
    .menu li {
        padding: 0px 16px;
    }
    .logo {
        left: 20px;
    }
}
@media(max-width: 768px) {
    .logo {
        width: 200px;
    }
    .menu {
        display: none;
    }/*
    .hamburger-menu img {
        position: fixed;
        top:0px;
        left:20px; 
        display: none;
    }*/
    .hamburger-menu {
        display: block;
        z-index: 7;
        height: 100px;
        width: 100%;
        position: fixed;
    }
    #menu__toggle {
        opacity:0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top:29px;
        right:20px;
        width:20px;
        height:20px;
        cursor:pointer;
        z-index:1;
        color: #000;
    }
    .menu_item {
        color: #ffffff;
        text-decoration: none;
    }
    .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
        display: block;
        position:absolute;
        float: right;
        width: 100%;
        height: 2px;
        background-color: #0a1a5a;
        transition-duration:0.25s ;
    }
    .menu__btn > span::before {
        content: '';
        top:-8px;  
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;  
    }
    .menu__box {
        display: block;
        position:fixed;
        visibility: hidden;
        top:0;
        left:-100%;
        height:100%;
        width:100%;
        margin:0;
        padding:80px 0px;
        list-style: none;
        text-align: center;
        background-color: #fff;
        color: #ffffff;
        box-shadow: 1px 0px 6px rgba(0, 0 , 0, 0.2);
        transition-duration: 0.25s;
    }
    .menu_item {
        display: block;
        padding:12px 24px;
        color:rgb(255, 255, 255);
        font-size:20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration:0.25s;
    }
    .menu_item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        transform: rotate(0deg);
        top:0;
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        transform: rotate(90deg);
        top:0;
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left:0;
    }
    .menu__box li:nth-child(2) {
        margin-top: 50px;
    }
    .menu__box li a {
        font-size: 60px;
    }
    .logo768 {
        width: 500px;
    }
}